<% content_for(:title) { 'Appliance Setup' } %>
<% content_for(:meta) do %>
  <meta http-equiv="refresh" content="120;url=http://<%= @appliance_ip %>/" />
<% end %>

    <div class="row center mt-3 justify-content-center">
      <div class="col-6">
        <%= form_for(:setup_confirm, url: setup_confirm_path, html: { id: 'setup_confirm', class: 'styled-form', style: 'width: 100%'}) do |f| %>
          <div class="row center">
            <div class="col">
              <div class="row">
                <h2>Setup Complete</h2>
              </div>
            </div>
	  </div>
	  <hr>
          <div class="row mb-1 center">
		  <h6>Your appliance is now reconfiguring - this may take a while. <br><br> Once complete, you will be able to access the appliance at the external IP address (<%= @appliance_ip %>) configured.</h6>
          </div>
	<% end %>
      </div>
    </div>
